<style type="text/css">
    ul
    {
        list-style-type: none;
    }
    .row{

    }
    .prow{
        border:1px;
        border-style: solid;
    }

    .peekabo{
        display:none;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
</style>
<script type="text/ng-template" id="categoryTree">

    <div class="row" >
        <a href=""><span ng-if="node.Downline > 0 && node.expand == false" ng-click="shide(node)" >+</span></a>
        <a href=""><span ng-if="node.Downline > 0 && node.expand" ng-click="shide(node)" >-</span></a>

        {{ node.id }}  {{ node.field1 }} {{ node.Downline }} </div>
    <ul ng-if="node.subnodes" ng-class="node.expand == false ? 'peekabo' : '' " >
        <li ng-repeat="node in node.subnodes" ng-include="'categoryTree'">
        </li>
    </ul>

</script>




<ul>
    <li ng-repeat="node in nodes" ng-include="'categoryTree'"></li>
</ul>
