
<link href="style/style.css" rel="stylesheet">

<script type="text/ng-template" id="categoryTree">

    <div class="row " >

        <div style="color:#428BCA;" class="col-xs-6 col-sm-3"><a href=""><span ng-if="node.Downline > 0 && node.expand == false" ng-click="shide(node)" class="glyphicon glyphicon-plus" ></span></a>
            <a href=""><span ng-if="node.Downline > 0 && node.expand" ng-click="shide(node)" class="glyphicon glyphicon-minus" ></span></a>
            <a href="" class="user"><span ng-if="node.Downline == 0" class="glyphicon glyphicon-user" ></span></a>&nbsp;
            {{ node.id }}
        </div>

        <div ng-repeat="col in col_defs" class="col-xs-6 col-sm-3">{{ node[col.field] }}</div>
        <!--<div class="col-xs-6 col-sm-3">{{ node.Downline }}</div>-->
    </div>
    <ul ng-if="node.subnodes" ng-class="node.expand == false ? 'peekabo' : '' " >
        <li ng-repeat="node in node.subnodes" ng-include="'categoryTree'" >
        </li>
    </ul>

</script>




<ul>

    <div ng-if="err">
        <div class="alert-message error">
            <!--<a class="close" href="#">×</a>-->
            <p><strong>{{ err_msg }}!</strong>.... You may close this tab and try again.</p>
        </div>
    </div>

    <div style="">
    <h2>{{title}}</h2>
    <!--<div ng-if="err == false" style="color:#428BCA;" class="col-xs-6 col-sm-3">-->
       <!--ID-->
    <!--</div>-->
    <div  style="color:#428BCA;" class="col-xs-6 col-sm-3">
        ID
    </div>
    <div ng-repeat="col in col_defs" class="col-xs-6 col-sm-3">{{ col.displayName }}</div>
    </div>
    <!--<table>-->
        <!--<tr>-->
            <!--<thead>ID</thead>-->
            <!--<thead ng-repeat="col in col_defs" >{{ col.displayName }}</thead>-->
        <!--</tr>-->
    <!--</table>-->
    </br>
    <div style="background-color: aliceblue; padding-left: 15px;">
        <li ng-repeat="node in nodes" ng-include="'categoryTree'"></li>
    </div>

</ul>
